body {
  background-color: #F7F3EE;
  color: #5E4933;
}

body * {
  color: #5E4933;
}

.navbar {
  margin-bottom: 0;
  background-color: #F7F3EE;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}

.navbar-default .navbar-brand {
  color: #5E4933;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
  color:  #5E4933;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color:rgba(133, 114, 81, 1);
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color:rgba(133, 114, 81, 1);
  background-color: transparent;
}

.vm-main {
  background-image: url("/img/vMentorbackground.jpg");
  height: 500px;
  background-size: cover;
}

.jumbotron {
  background-color: transparent;
    margin-bottom: 0px;
}

.jumbotron .vm-main-heading {
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 1.26;
  text-align: center;
  font-family: Roboto, sans-serif;
  color: #F7F3EE;
  text-shadow: -1px 3px 7px #5E4933;
}

.jumbotron .vm-main-heading2 {
  text-align: center;
  font-family: Roboto, sans-serif;
  color: #F7F3EE;
  text-shadow: -1px 3px 7px #5E4933;
}

.jumbotron .vm-main-heading3 {
  text-align: center;
  font-family: Roboto, sans-serif;
  color: #F7F3EE;
  text-shadow: -1px 3px 7px #5E4933;
}

.jumbotron .vm-main-heading3 a {
  text-align: center;
  font-family: Roboto, sans-serif;
  color: #F7F3EE;
  text-shadow: -1px 3px 7px #5E4933;
  text-decoration: underline;
}

.jumbotron .container .vm-search-wrapper {
  max-width: 600px;
}

.vm-search-btn.btn {
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(133, 114, 81, 1);
  color: rgba(133, 114, 81, 1);
  font-family: " Open Sans", sans-serif;
}

.vm-search-wrapper .form-control {
  border-color: rgba(133, 114, 81, 1);
}

.vm-search-wrapper .form-control:focus {
  outline: 0;
  border-color: rgba(133, 114, 81, 1);
  color: rgba(133, 114, 81, 1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 0px rgba(133, 114, 81, .6);
}

.logo-small {
  color: #5E4933;
  font-size: 50px;
}

.vm-footer {
  margin-top: 20px;
  border-top: 1px solid;
  border-color: rgba(133, 114, 81, 1);
  padding: 20px 0px;
}

.vm-services-wrapper, .vm-footer a {
  color: #5E4933 !important;
}

header.vm-header.container nav, #services {
    border-bottom: 1px solid rgba(133,114,81,1);
}
